<!DOCTYPE html>
{% load i18n %}
{% load crispy_forms_tags %}
<html>
    <head>
        <meta charset="utf-8">
        <!-- css -->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" /> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- js -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js">
             /* https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ru.js"> */
             </script> -->
        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script> -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ru.js"></script>
        -->
        <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="https://yastatic.net/share2/share.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ form.media }}
    </head>
    <body>
        {% csrf_token %}
        {% crispy form %}
        <script type="text/javascript">
         var url = document.location.href;

         new ClipboardJS('.btn', {
             text: function() {
                 return url;
             }
         });
        </script>
        <!-- <script type="text/javascript">
             $(function () {
             $('#datetimepicker1').datetimepicker({
             locale: 'ru',
             format: 'YYYY-MM-DD LTS'
             });
             });
             </script> -->
        <!-- <div class="ya-share2" data-services="vkontakte,facebook,viber,whatsapp,telegram"></div> -->
    </body>
</html>
